* {
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/background.svg');
    background-size: cover;
    background-position: center;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
p {
    color: #727272;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
}
h1 {
    color: transparent;
    text-align: center;
    font-size: 72px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    background-image: linear-gradient(to right, #b0b0b0 0%, #ffffff 50%, #b0b0b0 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

